:root {
    --state-width: 80px;
    --state-height: 80px;
    --end-state-color: red;
    --accept-state-color: blue;
    --start-state-color: green;
    --normal-state-color: black;
    --state-border-width: 2px;
}

.normal, .final, .start, .startFinal, .accept {
    --tmp-left: calc(var(--state-width) / 2);
    --tmp-right: calc(var(--state-height) / 2);
    position: absolute;
    left: calc(50% - var(--tmp-left));
    top: calc(50% - var(--tmp-right));
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    width: var(--state-width);
    height: var(--state-height);
}

.normal {
    border-color: var(--normal-state-color);
    border-style: solid;
    border-width: var(--state-border-width);
}

.final {
    border-color: var(--end-state-color);
    border-style: solid;
    border-width: var(--state-border-width);
}

.start, .startFinal {
    border-color: var(--start-state-color);
    border-style: solid;
    border-width: var(--state-border-width);
}

.accept {
    border-color: var(--accept-state-color);
    border-style: solid;
    border-width: var(--state-border-width);
}
.innerRed, .innerGreen {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    width: calc(var(--state-width) - 10px);
    height: calc(var(--state-height) - 10px);
}

.innerRed {
    border-color: var(--end-state-color);
    border-style: solid;
    border-width: var(--state-border-width);
}

.innerGreen {
    border-color: var(--start-state-color);
    border-style: solid;
    border-width: var(--state-border-width);
}
