:root {
    --arrowHeight: 10px
}

.circleMain, .circleBackground {
    border-radius: 50%;
    width: 50vh;
    height: 50vh;
}

.circleMain {
    position: relative;
    background-color: transparent;
    border: 2px dotted #000000;
}

.circleBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
}

.currentArrow, .previousArrow {
    margin: 0px;
    border: none;
    position: absolute;
    top: 50%;
    transform-origin: center;
}

.currentArrow {
    border-radius: 20px;
    border-top: var(--arrowHeight) yellow solid;
}

.previousArrow {
    border-top: var(--arrowHeight) navy dotted;
}
