name: Build

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  # This workflow contains a single job called "build"
  build-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout 
        uses: actions/checkout@master

      - name: Install Racket and Raco 
        uses: Bogdanp/setup-racket@v1.3 # see https://github.com/Bogdanp/setup-racket for more info
        with:
          distribution: 'full' # or: 'minimal'
          variant: 'CS'        # or: 'BC' for Racket Before Chez
          version: 'stable'       # or: 'stable' for the latest version, 'current' for the latest snapshot
          dest: '${HOME}/racket'
      - name: Add racket to PATH
        run: echo "${HOME}/racket/bin" >> $GITHUB_PATH
      - name: Install Package and its Dependencies
        run: raco pkg install --auto --batch
      - name: Build Library
        run: xvfb-run racket main.rkt
