name: Test

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        racket-variant: ["CS"]  
        racket-version: ["stable"]
    name: Run Library Tests on ${{ matrix.racket-variant }} Racket
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout 
        uses: actions/checkout@master

      - name: Install Racket and Raco 
        uses: Bogdanp/setup-racket@v1.8.1 # see https://github.com/Bogdanp/setup-racket for more info
        with:
          architecture: 'x64'
          distribution: 'full' # or: 'minimal'
          variant: ${{ matrix.racket-variant }} # Taken from `racket-variant: ["CS"]`
          version: ${{ matrix.racket-version }} # Taken from `racket-version: ["stable"]`
   
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # - uses: actions/checkout@v2

      # Kick off the tests
      - name: Run tests
        run: xvfb-run raco test test
